<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="pathinfo autotest">
	<parameter name="pathinfoUrl" value="http://localhost:8080/pathinfo/"></parameter>
	<parameter name="adminUser" value="thinkgem"></parameter>
	<parameter name="adminPassword" value="admin"></parameter>
	<test verbose="2" name="com.lumanmed.pathinfo.autotest.UserTest"
		annotations="JDK">
		<classes>
			<class name="com.lumanmed.pathinfo.autotest.UserTest" />
		</classes>
	</test>
	<test verbose="2" name="admin" annotations="JDK">
		<classes>
			<class name="com.lumanmed.pathinfo.autotest.admin.RoleTest" />
		</classes>
	</test>
</suite>